.main-div {
  height: 100vh;
  background: rgb(50, 50, 95);
}
.menu-style {
  width: 100%;
  padding-left: 0rem;
}

.menu-style a {
  color: #fff;
  text-decoration: none;
}
.home-style {
  background: #7272d6;
  height: 100vh;
}
