html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.main-div {
  height: 100vh;
  background: #181818;
}
.menu-style {
  width: 100%;
  padding-left: 0rem;
}

.menu-style a {
  color: #fff;
  text-decoration: none;
}
.menu-style a:hover,
.name-color,
.home-style span:hover {
  color: #08fdd8;
}

.home-style,
.about-style,
.portfolio-style,
.contact-style {
  background: #2b2b2b;
  height: 100vh;
}
.contact-style .cont-size,
.about-style .about-size {
  height: 100vh;
}
.contact-style h1,
.about-style h1 {
  color: #08fdd8;
  font-family: "Alfa Slab One", cursive;
  font-size: 60px;
}
.contact-style p,
.about-style p {
  color: #fff;
}
.contact-style .form-control {
  background: #444444;
  color: #8d8d8d;
  border: 2px solid #444;
  border-radius: 0rem;
}
.form-control:focus {
  border-color: #444;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
  border-bottom: 1px solid #08fdd8;
}
.contact-cont,
.about-cont {
  max-width: 420px;
}
.map {
  background: linear-gradient(rgba(8, 253, 216, 0.55), rgba(8, 253, 216, 0.55)),
    url("./images/map.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bground-1 {
  background: url("./images/dating.jpg");
}
.bground-2 {
  background: url("./images/rest.jpg");
}
.bground-3 {
  background: url("./images/dating-2.jpg");
}
.bground-4 {
  background: url("./images/med.jpg");
}
.bground-5 {
  background: url("./images/book.jpg");
}
.bground-6 {
  background: url("./images/pet.jpg");
}
.bground-7 {
  background: url("./images/cafe.jpg");
}
.bground-8 {
  background: url("./images/weather.png");
}
.bground-9 {
  background: url("./images/todo.jpg");
}
.bground-10 {
  background: url("./images/corona.jpg");
}
.bground-11 {
  background: url("./images/portfolio.jpg");
}
.bground-12 {
  background: url("./images/shopping_carts.jpg");
}
.bground-13 {
  background: url("./images/timer.jpg");
}

.bground-1,
.bground-2,
.bground-3,
.bground-4,
.bground-5,
.bground-6,
.bground-7,
.bground-8,
.bground-9,
.bground-10,
.bground-11,
.bground-12,
.bground-13 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 267px;
  /*border: 2px solid#08fdd8;*/
}
.home-style {
  min-height: 100vh;
  padding: 9rem 3rem;
}
.h1-styled {
  font-size: 76px;
}
.home-style h1 {
  font-family: "Alfa Slab One", cursive;
  line-height: 1;
}
.home-style .btn {
  border-radius: 0rem;
  padding: 0.375rem 2.75rem;
}
.btn-outline-primary {
  color: #08fdd8;
  border-color: #08fdd8;
}
.btn-outline-primary:hover {
  color: #2b2b2b;
  background-color: #08fdd8;
  border-color: #08fdd8;
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem #08fdd8;
}

.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem #08fdd8;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #08fdd8;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: #2b2b2b;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
