.main-div {
  height: 100vh;
  background: #181818;
}
.menu-style {
  width: 100%;
  padding-left: 0rem;
}

.menu-style a {
  color: #fff;
  text-decoration: none;
}
.menu-style a:hover,
.name-color {
  color: #06c5a9;
}

.home-style,
.about-style,
.portfolio-style,
.contact-style {
  background: #2b2b2b;
  height: 100vh;
}
.home-style {
  min-height: 100vh;
  padding: 9rem 3rem;
}
.h1-styled {
  font-size: 76px;
}
.home-style h1 {
  font-family: "Alfa Slab One", cursive;
}
.home-style .btn {
  border-radius: 0rem;
  padding: 0.375rem 2.75rem;
}
.btn-outline-primary {
  color: #06c5a9;
  border-color: #06c5a9;
}
.btn-outline-primary:hover {
  color: #2b2b2b;
  background-color: #06c5a9;
  border-color: #06c5a9;
}
